.references{
    text-align: right;
    a{
        margin-right: 10px;
        text-decoration: none;
        color: black;
    }
    a:hover{
        text-decoration: underline;
    }
}
form{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#logo{
    width: 280PX;
    height: 100PX;
}
#search{
    width: 550px;
    height: 35px;
    border-radius: 20px;
    margin: 30px 0px;
    padding-left: 50px;
    border: solid rgb(179, 174, 174);
    outline: none;
}
#icon{
    position: absolute;
    margin-left: 20px;
    margin-top: 44px;
}
input{
    margin-top: 5px;
    height: 35px;
    width: 150px;
}
